.tugie {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  .tugie__title {
    margin: 0;
  }

  .tugie__circle {
    user-select: none;
    width: 128px;
    height: 128px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc0cb;
    transition: transform 100ms;
  }

  .tugie__circle:hover {
    transform: scale(1.25);
  }

  .tugie__circle:active {
    transform: scale(1.5);
  }
}
